.MuiDrawer-paperAnchorRight {
    left: auto;
    right: 0;
    /* background: #3a405e 0% 0% no-repeat padding-box !important; */
    
    border-radius: 68px 0px 0px 0px !important;
    
    opacity: 1;
    width: 18% !important;
}

.minRow{
    height: 100vh ;
    /* background-color: aqua; */
}

.content {
    flex-grow: 1;
    /* flexGrow: 1, */
    /* // padding: theme.spacing(3), */
    background-color: white;
    /* margin: 30px; */
    margin-top:70px ;
    /* border-style: dashed; */
    height: 88vh;
    /* // margin: '30px',
    // marginTop: '100px',
    borderStyle: 'dashed',*/
    border-color: #d3d3d361; 
   /* height: '100vh', 
    position: 'relative', */
    background: #FFFFFF 0% 0% no-repeat padding-box;
border-radius: 12px;
opacity: 1;
/* width: calc(100% - 57px); */
margin-left: 10px;
  }

  .content2 {
/* width: 45vh; */

    flex-grow: 1;
    /* flexGrow: 1, */
    /* // padding: theme.spacing(3), */
    background-color: white;
    /* margin: 30px; */
    /* margin-top:100px ; */
    /* border-style: dashed; */
    height: 51vh;
    /* // margin: '30px',
    // marginTop: '100px',
    borderStyle: 'dashed',
    borderColor: '#d3d3d361',
    height: '100vh', 
    position: 'relative', */
    border-radius: 12px;
    margin-right: 10px;

  }
  .content1 {
    border-radius: 12px;
/* width: 45vh; */
    flex-grow: 1;
    /* flexGrow: 1, */
    /* // padding: theme.spacing(3), */
    background-color:white;
    /* margin: 30px; */
    margin-top:70px ;
    /* border-style: dashed; */
    height: 35vh;
    /* // margin: '30px',
    // marginTop: '100px',
    borderStyle: 'dashed',
    borderColor: '#d3d3d361',
    height: '100vh', 
    position: 'relative', */
    margin-right: 10px;
  }
.minRow1{
    height: 30vh ;
    background-color: aqua;
}

.minRow2{
    height: 70vh ;
    background-color: aqua;
}

.b{
background-color: brown;

}

.MuiPaper {
    /* background: #3a405e 0% 0% no-repeat padding-box; */
    border: 1px solid #707070;
    border-radius: 68px 0px 0px 0px;
    opacity: 1;
}
body{
   background-color: #d3d3d361;
   font: Medium 18px/24px SF Pro Display;
}
.fast-accses {
    fill: #5f5757;
  }
  .popover{
      display: none;
  }
.img1{
    /* background: #FFFFFF 0% 0% no-repeat padding-box; */
/* border: 1px solid #707070; */
/* opacity: 1; */
color: darkgrey;
}
.bama{
    background-color: #E8EAEC;
}

.a_img{
    margin-left: 12px;
}
@media screen and (max-width: 600px) {
  
}